.widget-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 325px;
    height: auto;
}

.box {
    float: left;
    clear: both;
    width: 100%;
    background: #FFF;
    height: auto; /*border:#ebebeb 1px solid;*/
}

.widget-header, .row-msg, .next {
    float: left;
    clear: both;
    width: 100%;
    height: 34px;
    text-align: center;
    background: #bc181f;
    border-bottom: 4px solid #FF9900;
    color: #FFF;
    font-size: 18px;
}

.next {
    cursor: pointer;
    padding-bottom: 12px;
    border-bottom: hidden;
    font-size: 18px;
    background: #FF9900;
    padding-top: 12px;
    height: 22px;
    margin-top: 10px;
    z-index: 10000000000001;
}

.row-msg {
    background: #FFF;
    border-bottom: hidden;
    color: #cc3333;
}

.widget-header-img, .header-txt, .header-txt2 {
    float: left;
    height: 100%;
    width: 25%;
    text-align: right;
}

.widget-header-txt, .header-txt2 {
    width: 100%;
    text-align: center;
    margin-top: 7px;
    height: auto;
    float: left;
    clear: both;
}

.widget-header-txt2 {
    padding-left: 9px;
}

.row {
    float: left;
    clear: both;
    width: 95%;
    margin-top: 3px;
    margin-left: 2%;
    border: #ebebeb 1px solid;
    height: 37px;
}

.row-img1, .row-img2, .row-img3, .row-img1-1, .row-img2-1, .row-img3-1,
.row-img4, .row-img5, .row-img6, .row-img4-2, .row-img5-2, .row-img6-2 {
    float: left;
    width: 37px;
    height: 100%;
    background: #CCC;
    /*background:url(../../images/widget/4/icon1.png) no-repeat left;*/
}

.row-img2 {
    /*background:url(../../images/widget/4/icon2.png) no-repeat left;*/
}

.row-img3 {
    /*background:url(../../images/widget/4/icon3.png) no-repeat left;*/
}

.row-img1-1, .row-img2-1, .row-img3-1 {
    margin-left: 15px;
    width: 27px;
    background: url(../../images/widget/4/icon_date.png) no-repeat left;
}

.row-img2-1 {
    background: url(../../images/widget/4/icon_people.png) no-repeat left;
}

.row-img3-1 {
    background: url(../../images/widget/4/icon_50off.png) no-repeat left;
}

.row-img-txt {
    float: left;
    clear: both;
    width: 100%;
    height: auto;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    margin-top: 9px;
}

.row-txt, .row-txt2 {
    float: left;
    height: 20px;
    width: 60px;
    color: #999;
    text-align: center;
    padding-top: 8px;
    padding-left: 0px;
}

.row-txt2 {
    width: auto;
}

.date-select, .ppl-select, .pick, .select-branch {
    float: left;
    margin-left: 1px;
    height: 30px;
    width: 212px;
    border: hidden;
    margin-top: 4px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
    color: #999;
}

.pick {
    margin-top: 9px;
    text-align: left;
    margin-left: 10px;
}

.slot-loading, .slot-html {
    float: left;
    clear: both;
    height: 260px;
    width: 100%; /*border:#033 solid 1px;*/
    background: url(../../images/widget/4/loading_bar.gif) no-repeat center;
}

.slot-html {
    background: none;
    text-align: center;
    height: 250px;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    margin-top: 8px;
    width: 300px;
    margin-left: 12px; /*border:#033 solid 1px;*/
}

.swiper-container {
    height: 210px !important;
}

.close, .soldout, .open, .open:hover, .click, .swiper-slide {
    float: left;
    width: 75px;
    margin: 0px 12px;
    height: 75px;
    background: url(../../images/widget/4/icon_close.png) no-repeat center;
    background-size: contain;
    margin-top: 0px;
    color: #FFF;
    cursor: pointer;
}

.swiper-slide {
    background: none;
    display: inline-block;
    margin-left: 0px;
    height: 87px;
    width: 306px;
    margin-top: 0px;
}

.soldout {
    background: url(https://eatigo.com/home/themes/default/images/16062558/bubble_sold_out.svg) no-repeat center;
    background-size: 105px;
    width: 87px;
    height: 87px;
    margin-left: 5px;
    margin-top: -5px;
    margin-right: 8px;
}

.soldout.zh {
    background: url(https://eatigo.com/home/themes/default/images/16062558/bubble_sold_out_zh.svg) no-repeat center;
}

.open, .open:hover {
    background: url(https://eatigo.com/home/themes/default/images/new_bubble/bubble.svg) no-repeat center;
    background-size: contain;
}

.open:hover {
    background: url(https://eatigo.com/home/themes/default/images/new_bubble/bubble.svg) no-repeat center;
    background-size: contain;
}

.click {
    background: url(https://eatigo.com/home/themes/default/images/new_bubble/bubble_active.svg) no-repeat center;
    background-size: contain;
    /*color:#4e310c;*/
}

.slot-time, .slot-discount, .slot-o {
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    margin-top: 18px;
    height: auto;
    width: 100%;
    float: left;
}

.slot-discount {
    margin-top: -2px;
    font-size: 30px;
    float: left;
    width: auto;
    height: auto;
    text-align: left;
    margin-left: 8px;
}

.slot-discount span {
    margin-right: 3px;
}

.slot-p {
    font-size: 16px;
    margin-top: 2px;
    float: left;
}

.slot-o {
    font-size: 14px;
    margin-top: -5px;
    display: none;
}

.slot-box, .swiper-container {
    width: 100%;
    height: 295px;
    overflow: hidden;
}

.swiper-wrapper {
    width: 100%;
    height: 295px;
    text-align: center;
}

.goUp, .goDown, .move-down {
    width: 100%;
    height: 20px;
    cursor: pointer; /*border:#F00 solid 1px;*/
    background: url(../../images/widget/2/au.png) #FFF no-repeat center;
}

.move-down {
    background: #CCC;
    color: #900;
    float: left;
    clear: both;
    text-align: center;
    font-size: 12px;
    padding-top: 1px;
    height: 17px;
    border: #CCC solid 1px;
    font-weight: bold;
    border-right: hidden;
}

.goDown {
    background: url(../../images/widget/2/al.png) #FFF no-repeat center;
    border: hidden;
}

.row-img4-2 {
    background: url(../../images/widget/4/icon_name.png) no-repeat center;
}

.row-img5-2 {
    background: url(../../images/widget/4/icon_email.png) no-repeat center;
}

.row-img6-2 {
    background: url(../../images/widget/4/icon_number.png) no-repeat center;
}

.name, .email, .cc, .cell {
    float: left;
    width: 230px;
    height: 28px !important;
    border: hidden !important;
    cursor: pointer;
    padding-left: 2px;
    height: auto;
    padding-top: 8px;
    padding-bottom: 2px;
    margin-left: 2px;
    font-size: 18px;
    color: #999;
    margin-top: 1px; /*border:#960 solid 1px;*/
}

.cc {
    float: left;
    margin-left: 0% !important; /*height:92% !important;*/
    width: 112px;
    padding-top: 7px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    /*padding-left:50px;*/
}

.ccp input[type="text"].cc {
    width: 50%;
    color: #222;
    font-weight: normal;
}

.ccp {
    float: left;
    margin-left: 0px !important;
    margin-top: 0px !important;
    height: 92px;
    overflow: hidden;
    width: auto;
}

.ccp {
    width: 20%;
    height: 37px
}

.cc-plus {
    width: 40%;
    text-align: center;
    color: #222;
    height: auto;
    padding: 10px 0px;
    float: left;
}

.cell {
    width: 123px;
    border: hidden;
    background: #FFF;
    margin-left: 0px;
}

.row input[type="text"].cell {
    width: 170px;
}

.row-star {
    float: left;
    margin-left: 5px;
    width: auto;
    height: 20%;
    padding-top: 10px;
    color: #900;
    font-weight: bold;
}

.facebook_tab, .pnfsmscfmt {
    float: left;
    width: 90%;
    height: 37px;
    clear: both;
    text-align: center;
    margin-top: 20px;
    margin-left: 5%;
    color: #06C;
}

.facebook_tab_en, .facebook_tab_th {
    float: left;
    clear: both;
    height: 43px;
    width: 100%;
    margin-top: 0px;
    background: url(../../images/widget/4/icon_facebook_en.png) #FFF no-repeat center;
}

.facebook_tab_th {
    background: url(../../images/widget/4/icon_facebook_th.png) #FFF no-repeat center;
}

.pnfsmscfmt {
    color: #900;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    height: auto;
}

.move {
    float: left;
    clear: both;
    width: 100%;
    height: auto;
    z-index: 1;
    background: #FFF;
    position: relative;
}

.coming-soon {
    float: left;
    clear: both;
    width: 325px;;
    height: 690px;
    position: absolute;
    background: url(../../images/index/coming_soon.png) #000 no-repeat center;
    z-index: 9;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    background-position: center;
    margin-left: 0px;
}

.coming-soon.coming-soon-zh {
    background: url(../../images/index/coming_soon_zh.png) #000 no-repeat center;
}

.coming-soon.coming-soon-th {
    background: url(../../images/index/coming_soon_th.png) #000 no-repeat center;
}

.widget-tfl, #ppl2 {
    float: left;
    clear: both;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 5;
    width: 325px;
    height: 685px;
    margin-left: 10px;
}

.widget-tfl-txt, .widget-tfl-bt {
    float: left;
    clear: both;
    height: auto;
    width: 100%;
    margin-top: 20px;
    color: #000;
    font-weight: bold;
    text-align: center;
    background: #FFF;
    padding-bottom: 10px;
    font-size: 16px;
}

.widget-tfl-bt {
    height: 20px;
    color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #cc3333;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
}

.widget-tfl-box {
    width: 280px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #FFF;
    padding: 10px;
    border-radius: 4px;
    margin-top: 200px;
}

.error-box {
    color: #FFF;
    text-align: center;
    width: 100%;
    float: left;
    clear: both;
    cursor: pointer;
    font-size: 12px;
    height: 15px;
    background: rgb(187, 16, 28);
    border: #900 solid 1px;
}

.ma-input::-webkit-input-placeholder {
    color: #900;
}

.widget_rname {
    float: left;
    clear: both;
    width: 95%;
    height: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    margin-left: 2%;
    text-align: left;
    overflow: hidden;
}

.book-data, .book-data2 {
    float: left;
    clear: both;
    height: 37px;
    width: 95%;
    margin-left: 2%;
    border: #ebebeb 1px solid;
}

.book-data2 {
    border-top: hidden;
}

.book-data-date, .book-data-ppl, .book-data-dc, .book-data-time {
    float: left;
    background: url(../../images/widget/4/icon_datewbg.png) no-repeat center;
    width: 13%;
    height: 100%;
}

.book-data-ppl {
    background: url(../../images/widget/4/icon_peoplewbg.png) no-repeat center;
}

.book-data-dc {
    background: url(../../images/widget/4/icon_discountwbg.png) no-repeat center;
}

.book-data-time {
    background: url(../../images/widget/4/icon_timewbg.png) no-repeat center;
}

.in-date, .show-name {
    float: left;
    width: 34%;
    height: 20px;
    padding-top: 10px;
    padding-left: 1%;
    color: #F00;
    font-size: 14px;
    font-weight: bold;
}

.show-name {
    width: 80%; /*border:#063 solid 1px;*/
    overflow: hidden;
    font-size: 14px;
    color: #666;
}

.widget_law {
    width: 90%;
    padding: 0% 5%;
    text-align: left;
    font-size: 12px;
    float: left;
    clear: both;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-top: 0px;
}

.role_th, .role_en {
    float: left;
    width: 100%;
    height: 58px;
    background: url(../../images/widget/onweb/wedget_web.jpg) no-repeat center;
    background-size: cover;
    margin-top: 8px;
    /*border-bottom:#999 solid 5px;*/
}

.role_en {
    background: url(../../images/widget/onweb/wedget_web.jpg) no-repeat center;
    background-size: cover;
}

.row-accept {
    float: left;
    width: 90%;
    height: auto;
    padding-top: 8px;
    clear: both;
    margin-left: 5%;
}

.by_clicking, .yes {
    float: left;
    width: 90%;
    font-size: 11px;
    color: #999;
    font-weight: bold;
    text-align: left;
    display: inline;
    padding-top: 2px;
}

.yes {
    width: 9%;
    text-align: center;
    padding-top: 0px;
}

.back-confirm {
    float: left;
    clear: both;
    height: auto;
    width: 100%;
    margin-top: 5px;
}

.go-back, .go-next {
    float: left;
    height: 20px;
    padding: 9px 0px;
    width: 45%;
    background: #999;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

.go-next {
    width: 55%;
    background: #F90;
}

.loading {
    height: 550px;
    border: hidden;
    width: 100%;
    float: left;
    clear: both;
    padding: 35px 0px;
    text-align: center;
    font-size: 14px;
    color: #FFF; /*border:#000 solid 1px;*/
}

.loading-img, .loading-txt {
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-top: 270px;
    height: 18px;
    clear: both;
}

.loading-txt {
    margin-top: 1px;
    margin-bottom: 20px;
    color: #900;
}

.confirm-img-th, .confirm-img-en {
    float: left;
    width: 100%;
    height: 140px;
    background: url(../../images/widget/4/icon_bookconfirmed_th.png) no-repeat center;
    background-size: cover;
    margin-top: 10px;
}

.confirm-img-en {
    background: url(../../images/widget/4/icon_bookconfirmed_en.png) no-repeat center;
    background-size: cover;
}

.slot-space {
    float: left;
    clear: both;
    width: 100%;
    height: 120px;
}

.flag {
    float: left;
    margin-top: 8px;
    margin-right: 2px;
    width: 20px;
    height: 12px;
}

#f1 {
    /*background-color:#FFF;*/
    background: url(https://eatigo.com/home/themes/default/images/iconsearch_29062558/calendar-resto.svg) center #FFF no-repeat;
    background-size: 21px;
}

.facebook_icon {
    float: left;
    background: url(../../images/widget/4/facebook-64.png) no-repeat center;
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-top: 6px;
    margin-left: 4px;
}

/********************************* new widget ****************************************/

.row input[type="text"], .row input[type="password"] {
    color: #b8b8b8;
    background-color: #fff;
    border: 0px solid #ccc;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
}

.row-img-promo {
    background: url(https://eatigo.com/home/themes/default/images/new_icon_detail/promo.svg) center no-repeat;
    float: left;
    width: 37px;
    height: 100%;
    border-right: 1px solid #CCC;
    background-size: 32px;
    border-radius: 4px 0px 0px 4px;
}

.date-select, .ppl-select, .pick, .select-branch {
    width: 217px;
    font-size: 14px;
    color: #b8b8b8;
    -webkit-appearance: none;
    margin-left: 0px;
    height: 37px;
    margin-top: 0px;
    background-color: #FFF;
    padding: 0px 15px;
}

.checked-active, .checked-notactive, .checked-validation {
    float: left;
    width: 30px;
    height: 37px;
    background: url(https://eatigo.com/home/themes/default/images/iconsearch_29062558/checked-ok.svg) center #FFF no-repeat;
    background-size: 21px;
}

.checked-notactive {
    background: #FFF;
}

.checked-validation {
    background: url(https://eatigo.com/home/themes/default/images/16062558/cross.svg) center #FFF no-repeat;
}

.date-select, .ppl-select {
    width: 235px;
    padding: 2px 0px 0px 15px;
}

#ppp {
    width: 223px;
    border-radius: 4px;
}

.pick {
    margin-left: 0px;
    line-height: 40px;
    padding: 0px 0px 0px 15px;
}

.row-img3-1 {
    display: none;
}

.row-img1, .row-img2, .row-img3, .row-img1-1, .row-img2-1, .row-img3-1, .row-img4, .row-img5, .row-img6, .row-img4-2, .row-img5-2, .row-img6-2 {
    background-color: #fff;
    border-right: 1px solid #CCC;
    border-radius: 4px 0px 0px 4px;
}

.row {
    margin-top: 10px;
    border: #CCC 1px solid;
    border-radius: 5px;
}

.slot-html {
    width: 304px;
    margin-left: 6px;
    margin-top: 0px;
    border-left: #CCC solid 1px;
    border-right: #CCC solid 1px;
    border-bottom: #CCC solid 1px;
    border-radius: 5px;
    padding-left: 5px;
    display: none;
    border-radius: 0px 0px 5px 5px;
}

.goUp, .goDown, .move-down {
    width: 98%;
}

#row-timeslot {
    border-radius: 5px 5px 0px 0px;
}

#row-timeslot2 {
    border-radius: 5px;
}

.select2-container .select2-choice {
    color: #b8b8b8;
    font-weight: 100;
    -webkit-appearance: none;
}

.widget-tfl, #ppl2 {
    margin-left: 0px;
}

.row-img1 {
    background: url(https://eatigo.com/home/themes/default/images/new_icon_detail/date.svg) center no-repeat;
    background-size: 30px;
}

.row-img2 {
    background: url(https://eatigo.com/home/themes/default/images/new_icon_detail/people.svg) center no-repeat;
    background-size: 27px;
}

.row-img3 {
    background: url(https://eatigo.com/home/themes/default/images/new_icon_detail/slot.svg) center no-repeat;
    background-size: 30px;
    border-radius: 5px 0px 0px 0px;
}

.row-img4 {
    background: url(https://eatigo.com/home/themes/default/images/new_icon_detail/name.svg) center no-repeat;
    background-size: 21px;
}

.row-img5 {
    background: url(https://eatigo.com/home/themes/default/images/new_icon_detail/email.svg) center no-repeat;
    background-size: 21px;
}

.row-img6 {
    background: url(https://eatigo.com/home/themes/default/images/new_icon_detail/phone.svg) center no-repeat;
    background-size: 21px;
}

.row-img-branch {
    background: url(https://eatigo.com/home/themes/default/images/new_icon_detail/location.svg) center no-repeat;
    background-size: 32px;
    float: left;
    width: 37px;
    height: 100%;
    border-right: 1px solid #CCC;
    border-radius: 5px 0px 0px 5px;
}

#select-branch {
    float: left;
    border: hidden !important;
    cursor: pointer;
    margin-left: 0px;
}

.btn-select-branch {
    float: left;
    width: 85px;
    height: 37px;
    background: #FF9900;
    border-radius: 0px 4px 4px 0px;
    border-left: 1px solid #CCC;
    margin-top: 0px;
    text-align: center;
    line-height: 40px;
    color: #FFF;
    cursor: pointer;
}

.select2-container.select2-container-disabled .select2-choice {
    background-color: #FFF !important;
    border: 0px !important;
}

.select-branch {
    width: 184.5px !important;
    height: 37px !important;
}

.date-select {
    color: #000;
}

.row input[type="text"].name, .row input[type="text"].email {
    width: 220px;
    padding-left: 15px;
}

.row input[type="text"].cell {
    width: 163px;
}

.cc-plus {
    width: 12px;
    text-align: left;
    color: #222;
    height: auto;
    padding: 10px 0px 10px 15px;
    float: left;
}

.ccp {
    width: 70px;
    height: 37px;
}





